.ws-lb-link {
  width: 100%;
  position: relative;
  padding-bottom: 56%;
  border: 1px solid var(--gin-border-color-table);
  border-radius: 8px;
  overflow: hidden;
  background-color: #F3F4F6;
}

.ws-lb-link:hover {
  box-shadow: 4px 4px 10px var(--gin-shadow-button);
}

.ws-lb-link__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-weight: 500;
  background-color: #ffffff;
  padding: 12px;
  box-shadow: 0px -15px 20px rgba(243, 244, 246, 0.9);
}

.ws-lb-link svg, .ws-lb-link img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  padding: 10px 40px;
  transform: translate(-50%, -50%);
}
